/* Detail product */
.detail-product, .detail-product-container, .detail-product-wrapper{
    width: 100%;
    max-height: max-content;
}
.detail-product {
    margin-top: 30px;
}
.detail-product-wrapper {
    background-color: var(--white-color);
    border: none;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}
.product-general-view {
    border: none;
    border-radius: 15px;
    height: max-content;
    width: fit-content;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.product-image {
    width: fit-content;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1em 2em;
    padding: 0.3125em 0.625em;
}
.product-image img{    
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 350px;
    justify-self: center;
}
.convenience-policy {
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--black-color);
    font-size: 1.6rem;
    margin: 1em 2em;
    padding: 0.5em 1em;
}
.convenience-pollicy__safe-package, .convenience-pollicy__fast-delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}
.product-general-description {
    display: flex !important;
    flex-direction: column;
    padding: 2em 0em;
    margin: 0;
}
.product-general-description-container {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    list-style: none;
}
.product-general-description__section {
    margin: 7px 0;
    line-height: 1;
    font-size: 1.6rem;
}
.product-general-description__title {
    font-size: 2.4rem;
}
.product-general-description__auther__name, 
.product-general-description__publishing-company__name,
.product-general-description__rating__title, 
.product-general-description__price__title,
.product-general-description__quantity__title {
    font-weight: 600;
}
.product-general-description__auther p,
.product-general-description__publishing-company p,
.product-general-description__rating p,
.product-general-description__price p, 
.product-general-description__quantity p {
    display: inline-block;
    width: max-content;
    margin: 0;
}
.product-general-description__price__title, .product-general-description__price__detail {
    color: var(--red-color);
}
.product-general-description__quantity {
    border: none;
    border-radius: 15px;
    background-color:#F7F6F2;
    display: inline-flex;
    align-items: center;
    padding: 1em;
}
.product-general-description__quantity .quantity-box-wrapper {
    margin-left: 10px;
}
.product-general-description__quantity .quantity-box input {
    max-width: 30px;
}
.product-general-description__policy {
    display: inline-block;
    position: relative;
    background-color: #185ADB;
    color: var(--white-color);
    padding: 0.5em 1em;
    padding-right: 0;
}
.product-general-description__policy {
    position: relative;
}
.product-general-description__policy__detail {
    display: inline-block;
    width: max-content;
    margin: 0 20px 0 0;
}
.product-general-description__policy__detail::after {
    content: "";
    position: absolute  ;
    border: 16px solid;
    right: 0;
    top: 0;
    border-color: transparent var(--white-color) transparent transparent;
}
.product-general-description__add-buy-section {
    display: flex;
    margin: 20px 40px;
}
.product-general-description__add-buy-section .button--add-cart, .product-general-description__add-buy-section .button--buy {
    border-width: 3px;
    border-radius: 10px;
    padding: 12px 42px;
    margin-right: 50px;
}
.product-general-description__add-buy-section .button--add-cart:hover {
    background-color: #30475E;
    color: var(--white-color);
    transition: 0.5s ease
}
.product-general-description__add-buy-section .button--buy:hover {
    background-color: #BF4800;
    color: var(--white-color);
    transition: 0.5s ease
}
/* Breadcrumbs */
.breadcrumbs, .breadcrumbs-container {
    width: 100%;
    height: max-content;
}
.breadcrumbs {
    margin-top: 30px;
}
.breadcrumbs-wrapper {
    background-color: var(--black-color);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    list-style: none;
}
.breadcrumbs-links {
    margin-right: 10px;
    font-size: 1.4rem;
}
.breadcrumbs-links span {
    position: relative;
    color: var(--white-color);
    margin-left: 10px;
}
.breadcrumbs-links a {
    color: var(--white-color);
    text-decoration: none;
}
.relative-book {
    margin-top: 30px;
    height: max-content;
}
.relative-book-container {
    width: 100%;
    height: max-content;
}
.relative-book-title {
    display: inline-block !important;
    position: relative;
    transform: translateX(50%);
    font-size: 2.4rem;
    font-weight: 400;
}
.relative-book-title::before {
    content:"Relative Books";
    position: absolute;
    top: 10px;
    left: -12px;
    font-size: 2.8rem;
    white-space: nowrap;
    opacity: 0.2;
    letter-spacing: 1;
}
.relative-book-container-wrapper {
    padding: 0;  
    margin-top: 15px 
}
.book-selling-container {
    border-radius: 15px ;
    border: none; 
    padding-top: 15px;
}
/* Detail description */
.detail-description {
    height: max-content;
    margin-top: 30px;
}
.detail-description-container {
    width: 100%;
}
.detail-description-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--white-color);
}
.detail-description-section {
    margin: 1em 0 0 1em;
    font-size: 1.6rem;
}
.detail-description-section__title {
    display: inline-block;
    font-weight: 600;
    margin: 0;
}
.detail-description-group {
    margin-left: 1em;
    font-size: 1.4rem;
}
.detail-description-group__id-product p,
.detail-description-group__release-date p,
.detail-description-group__supplier p,
.detail-description-group__auther p,
.detail-description-group__publishing-year p,
.detail-description-group__language p {
    display: inline-block;
    margin: 0;
}
.detail-description-group__id-product,
.detail-description-group__release-date,
.detail-description-group__supplier,
.detail-description-group__auther,
.detail-description-group__publishing-year,
.detail-description-group__language {
    margin: 1em 0 1em 0;
}
/* Product preview */
.product-reviews {
    height: max-content;
    margin: 30px 0;
}
.product-reviews-wrapper {
    border-radius: 15px;
    background-color: var(--white-color);
    display: flex;
}
.product-reviews-rating {
    margin: 10px 0 10px 36px;
    border-right-width: 1px;
    border-right-color: var(--black-color);
    border-right-style: solid;
}
.product-reviews-title, .product-reviews-comment-title {
    font-size: 1.8rem;
    font-weight: 600;
}
.product-reviews-title p, .product-reviews-comment-title p {
    margin: 0;
}
.product-reviews-star {
    display: flex;
}
.product-reviews-star__point {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-reviews-star__point div {
    margin: 1.4em 0;
}
.product-reviews-star__point__general {
    display: flex;
}
.product-reviews-star__point__general p, .product-reviews-star__point__general span{
    margin: 0;
    align-self: flex-end;
    height: fit-content;
}
.big-number {
    font-size: 3.6rem;
    line-height: 0.9;
}
.small-number, .product-reviews-star__point__general span {
    font-size: 1.8rem;
}
.product-reviews-star__point__total-comment {
    font-size: 1.4rem;
    white-space: nowrap;
}
.product-reviews-star__point__total-comment__title, .product-reviews-star__point__total-comment__detail {
    margin: 0;
    display: inline-block;
    font-size: 1.4rem;
    white-space: nowrap;
}
.product-reviews-star__point__general-star .outer-star {
    margin: 0;
}
.product-reviews-star__progress-bar {
    margin: 10px 20px 10px 30px;
    padding-right: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.product-reviews-star__progress-bar__container {
    margin: 10px 0;
}
.product-reviews-star__progress-bar__5-star, .product-reviews-star__progress-bar__4-star,
.product-reviews-star__progress-bar__3-star,.product-reviews-star__progress-bar__2-star, 
.product-reviews-star__progress-bar__1-star {
    background-color: #c4c4c4;
    width: 100%;
    height: 12px;
    border-radius: 15px;
}
.product-reviews-star__progress-bar-title {
    background-color: var(--white-color);
    font-size: 1.4rem;
}
.product-reviews-star__progress-bar-gain span {
    position: absolute;
    right: 0;
}
.product-reviews-star__progress-bar-gain {
    position: relative;
    display: flex;
    background-color: #FFA62B;
    height: 100%;
    width: 50%;
    border-radius: 15px;
    align-items: center;
}
.product-reviews-comment {
    margin: 10px 18px;
}
.product-reviews-comment-group {
    display: flex;
    margin-top: 38px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
}
.product-reviews-comment-group__detail {
    font-size: 1.4rem;
    background-color: #F9F3DF;
    border-radius: 15px;
    padding: 10px 20px;
    max-width: 100%;
    margin: 15px 0;
}
.product-reviews-comment-group__detail__name  p{
    margin: 0 0 5px 0;
}
.product-reviews-comment-group__detail__star .outer-star::before {
    color: #C4C4C4;
}
.product-reviews-comment-group__detail__review {
    width: fit-content;
}
.button--like {
    border: 1px solid var(--black-color);
    border-radius: 15px;
    width: max-content;
    padding: 0;
    cursor: pointer;
    background-color: #D7E9F7;
    margin: 20px 0 0 0;
}
.icon--like, .button--like-title {
    display: inline-block;
}
.icon--like {
    border-radius: 50%;
    background-color: #185ADB;
    color: var(--white-color);
    padding: 4px 5px;
    text-align: center;
}
.button--like-title {
    margin: 4px 10px 4px 0;
}
.button--like:hover .icon--like {
    background-color: var(--white-color);
    color: #185ADB;
    transition: 0.2s ease;
}
.button--like:hover {
    background-color: #185ADB;
    transition: 0.5s ease;
}
.button--like:hover .button--like-title {
    color: var(--white-color);
}
.product-reviews-comment-add-view {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.button-add-comment, .button-view {
    padding: 15px 30px;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    cursor: pointer;
}
.button-add-comment p, .button-view p {
    margin: 0;
}
.button-add-comment {
    background-color: #512D6D;
    color: var(--white-color);
}
.button-view {
    background-color: #F8485E;
    color: var(--white-color);
}
