:root {
    --black-color:#112031;
    --slight-black-color:#345B63;
    --white-color:#fff;
    --grey-white-color:#F2F2F2;
    --blue-color:#5da6e6;
    --dark-blue-color: #0f66b4;
    --green-color:#009900;
    --red-color:#ff3333;
    --orange-color: #ffaa00;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:  "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: var(--grey-white-color);
    overflow: scroll;
}
.container {
    height: 100vh;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}
.grid--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid--full-view {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.-background-white {
    background-color: var(--white-color);
}
.-align-right {
    text-align: right;
}
.button--buy, .button--add-cart {
    border-radius: 25px;
    padding: 2px 15px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}
.button--buy {
    border: 1px solid #BF4800;
    color: #BF4800;
}
.button--add-cart {
    border: 1px solid #30475E;
    color: #30475E;
}
/* Book section */
.book-selling-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border: none;
    border-radius: 15px;
}
.book-selling-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.description {
    background: linear-gradient(to bottom, var(--black-color), var(--slight-black-color)); 
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 10px;
    border: none;
    border-radius: 15px;
}
.description a {
    text-decoration: none;
    color: var(--white-color);
}
.line {
    height: 1px;
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
    flex: 1;
    margin: 0 10px;
}
.book-selling-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}
.item {
    display: block;
    width: 100%;
    height: 340px;
    background-color: var(--white-color);
    flex-direction: column;
    margin-bottom: 10px;
}
.book-selling-body .book {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.book-selling-body .book img {
    width:  150px;
    height: 200px;
    border-radius: 15px;
}
.book-selling-body .book__description {
    display: block;
    margin-top: 10px;
    height: 20%;
    width: 100%;
}
.book-selling-body .book__title {
    font-size: 1.6rem;
}
.book-selling-body .book__price {
    color: var(--red-color);
    font-size: 1.4rem;
}
.outer-star {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.outer-star::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f005 \f005 \f005 \f005 \f005 ";
    color: var(--grey-white-color);
    font-size: 1.6rem;
}
.inner-star {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.inner-star::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f005 \f005 \f005 \f005 \f005 ";
    color: var(--orange-color);
    font-size: 1.6rem;
}
/* Quantity box */
.quantity-box {
    display: inline-block;
    align-items: center;
    border: 1px solid var(--black-color);
    padding: 2px;
}
.quantity-box input {
    width: 100%;
    border: 0;
    text-align: center;
    outline: none;
}
.quantity-box__increase, .quantity-box__decrease {
    width: min-content;
    margin: 5px;
    color: var(--black-color);
    font-size: 12px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -12px;
    margin-right: -12px;
}
.col {
    padding-left: 12px;
    padding-right: 12px;
}
.l-20-percent {
    flex: 0 1 20%;
    max-width: 20%;
    display: block;
}
.l-0 {
    display: none;
}
.l-1 {
    flex: 0 1 8.333%;
    max-width: 8.333%;
}
.l-2 {
    flex: 0 1 16.667%;
    max-width: 16.667%;
}
.l-3 {
    flex: 0 1 25%;
    max-width: 25%;
}
.l-4 {
    flex: 0 1 33.333%;
    max-width: 33.333%;
}
.l-5 {
    flex: 0 1 41.667%;
    max-width: 41.667%;
}
.l-6 {
    flex: 0 1 50%;
    max-width: 50%;
}
.l-7 {
    flex: 0 1 58.333%;
    max-width: 58.333%;
}
.l-8 {
    flex: 0 1 66.667%;
    max-width: 66.667%;
}
.l-9 {
    flex: 0 1 75%;
    max-width: 75%;
}
.l-10 {
    flex: 0 1 83.333%;
    max-width: 83.333%;
}
.l-11 {
    flex: 0 1 91.667%;
    max-width: 91.667%;
}
.l-12 {
    flex: 0 1 100%;
    max-width: 100%;
}
.l-o-1 {
    margin-left: 8.333%;
}
.l-o-2 {
    margin-left: 16.667%;
}
.l-o-3 {
    margin-left: 25%;
}
.l-o-4 {
    margin-left: 33.333%;
}
.l-o-5 {
    margin-left: 41.667%;
}
.l-o-6 {
    margin-left: 50%;
}
.l-o-7 {
    margin-left: 58.333%;
}
.l-o-8 {
    margin-left: 66.667%;
}
.l-o-9 {
     margin-left: 75%;
}
.l-o-10 {
    margin-left: 83.333%;
}
.l-o-11 {
    margin-left: 91.667%;
}
.l-1, .l-2, .l-3, .l-4, .l-5, .l-6,
.l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
    display: block;
}
/* General setting */
@media screen and (max-width: 1023px) {
    #nav-bar .list__items:nth-child(1), #nav-bar .list__items:nth-child(2), .button--nav, .search-bar {
        display: none !important;
    }
    .header .menu {
        display: inline-block !important;
    }
    #banner-1-header {
        margin-left: 50%;
        transform: translateX(-50%) !important;
    }
    
    /* Detail product page */
    .product-general-view {
        display: flex  !important;
        flex-direction: column;
        align-items: center;
    }
    .product-general-description {
        align-items: center;
        padding: 0;
    }
    .product-image {
        display: inline-block;
    }
    .convenience-policy {
        flex-direction: column;
    }
    .convenience-pollicy__safe-package, .convenience-pollicy__fast-delivery {
        flex-direction: row;
    }
    .convenience-pollicy__safe-package span, .convenience-pollicy__fast-delivery span{
        margin-left: 10px;
    }
    .product-reviews-rating {
        border: none;
        margin: 0;
        padding: 10px 0 10px 36px;
        border-bottom: 1px solid var(--black-color);
    }
    .product-reviews-wrapper {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 839px) {
    .side-bar-container {
        order: 2;
    }
    .slider-container {
        order: 1;
    }
    .side-bar-container .side-bar, .slider-1.slider  {
        border-radius: 0 !important;
    }
    .side-bar .list {
        flex-wrap: wrap !important;
        flex-direction: row !important;
        padding: 0;
        justify-content: flex-start;
    }
    .side-bar .list .list__items:hover {
        background-color: var(--white-color);
        transition: 0.5s ease;
    }
    .side-bar .list .list__items {
        width: auto !important;
        padding: 10px !important;
        border-radius: 12px !important;
    }
    .side-bar .list .list__items:not(:last-child) {
        margin-right: auto !important;
    }
    .book-selling-container {
        border-radius: 0 !important;
    }
    .book-selling-body .book__description {
        text-align: center;
    }
    .book-selling-body .book__price {
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .book-selling-body .outer-star {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    #banner-1-body {
        flex-wrap: wrap;
    }
    #section-1__container, #section-2__container, #section-3__container {
        border-radius: 0 !important;
    }
    #section-1, #section-2-and-section-3 {
        margin-top: 10px;
    }
    .highest-rate-slides {
        width: 800% !important;
    }
    .highest-rate-slides .slide {
        width: 12.5% !important;
    }
    .highest-rate .book-selling-body .slider {
        margin-bottom: 15px;
    }
    #nav-bar .list .list__items:nth-child(3) {
        display: none !important;
    }

    /* Category page */
    .category-selection-wrapper {
        border-radius: 0 !important;
    }
    .new-book-slider-wrapper__slider__slides {
        width: 350% !important;
    }

    /* Detail product page */
    .breadcrumbs-wrapper {
        border-radius: 0 !important;
    }
    .breadcrumbs-links {
        font-size: 1.2rem !important;
    }
    .detail-product-wrapper, .detail-description-wrapper, .product-reviews-wrapper {
        border-radius: 0;
    }
    .product-general-description__add-buy-section {
        font-size: 1.2rem !important;
    }

    /* Detail cart page */
    .group-product-info {
        flex-direction: column;
        align-items: flex-start;
    }
    .number-product-info {
        align-self: flex-start !important;
        padding: 15px;
    }
}
/* Small phone  */
@media screen and (max-width: 600px) {
    .row {
        margin-left: -1px;
        margin-right: -1px;
    }
    .col {
        padding-left: 1px;
        padding-right: 1px;
    }
    .mm-0 {
        display: none;
    }
    .mm-1 {
        flex: 0 1 8.333%;
        max-width: 8.333%;
    }
    .mm-2 {
        flex: 0 1 16.667%;
        max-width: 16.667%;
    }
    .mm-3 {
        flex: 0 1 25%;
        max-width: 25%;
    }
    .mm-4 {
        flex: 0 1 33.333%;
        max-width: 33.333%;
    }
    .mm-5 {
        flex: 0 1 41.667%;
        max-width: 41.667%;
    }
    .mm-6 {
        flex: 0 1 50%;
        max-width: 50%;
    }
    .mm-7 {
        flex: 0 1 58.333%;
        max-width: 58.333%;
    }
    .mm-8 {
        flex: 0 1 66.667%;
        max-width: 66.667%;
    }
    .mm-9 {
        flex: 0 1 75%;
        max-width: 75%;
    }
    .mm-10 {
        flex: 0 1 83.333%;
        max-width: 83.333%;
    }
    .mm-11 {
        flex: 0 1 91.667%;
        max-width: 91.667%;
    }
    .mm-12 {
        flex: 0 1 100%;
        max-width: 100%;
    }
    .mm-o-1 {
        margin-left: 8.333%;
    }
    .mm-o-2 {
        margin-left: 16.667%;
    }
    .mm-o-3 {
        margin-left: 25%;
    }
    .mm-o-4 {
        margin-left: 33.333%;
    }
    .mm-o-5 {
        margin-left: 41.667%;
    }
    .mm-o-6 {
        margin-left: 50%;
    }
    .mm-o-7 {
        margin-left: 58.333%;
    }
    .mm-o-8 {
        margin-left: 66.667%;
    }
    .mm-o-9 {
         margin-left: 75%;
    }
    .mm-o-10 {
        margin-left: 83.333%;
    }
    .mm-o-11 {
        margin-left: 91.667%;
    }
    .mm-1, .mm-2, .mm-3, .mm-4, .mm-5, .mm-6,
    .mm-7, .mm-8, .mm-9, .mm-10, .mm-11, .mm-12 {
        display: block;
    }
    .footer-body > li, .footer-header > p {
        font-size: 1.2rem !important;
    }
}
/* Large phone or portrait tablet */
@media screen and (min-width: 601px) and (max-width: 839px) {
    .row {
        margin-left: -2px;
        margin-right: -2px;
    }
    .col {
        padding-left: 2px;
        padding-right: 2px;
    }
    .s-0 {
        display: none;
    }
    .s-1 {
        flex: 0 1 8.333%;
        max-width: 8.333%;
    }
    .s-2 {
        flex: 0 1 16.667%;
        max-width: 16.667%;
    }
    .s-3 {
        flex: 0 1 25%;
        max-width: 25%;
    }
    .s-4 {
        flex: 0 1 33.333%;
        max-width: 33.333%;
    }
    .s-5 {
        flex: 0 1 41.667%;
        max-width: 41.667%;
    }
    .s-6 {
        flex: 0 1 50%;
        max-width: 50%;
    }
    .s-7 {
        flex: 0 1 58.333%;
        max-width: 58.333%;
    }
    .s-8 {
        flex: 0 1 66.667%;
        max-width: 66.667%;
    }
    .s-9 {
        flex: 0 1 75%;
        max-width: 75%;
    }
    .s-10 {
        flex: 0 1 83.333%;
        max-width: 83.333%;
    }
    .s-11 {
        flex: 0 1 91.667%;
        max-width: 91.667%;
    }
    .s-12 {
        flex: 0 1 100%;
        max-width: 100%;
    }
    .s-o-1 {
        margin-left: 8.333%;
    }
    .s-o-2 {
        margin-left: 16.667%;
    }
    .s-o-3 {
        margin-left: 25%;
    }
    .s-o-4 {
        margin-left: 33.333%;
    }
    .s-o-5 {
        margin-left: 41.667%;
    }
    .s-o-6 {
        margin-left: 50%;
    }
    .s-o-7 {
        margin-left: 58.333%;
    }
    .s-o-8 {
        margin-left: 66.667%;
    }
    .s-o-9 {
         margin-left: 75%;
    }
    .s-o-10 {
        margin-left: 83.333%;
    }
    .s-o-11 {
        margin-left: 91.667%;
    }
    .s-1, .s-2, .s-3, .s-4, .s-5, .s-6,
    .s-7, .s-8, .s-9, .s-10, .s-11, .s-12 {
        display: block;
    }

    /* Detail cart page */
    .detail-order-wrapper {
        border-radius: 0 !important;
    }
    .detail-bill-wrapper {
        border-radius: 0 !important;
    }
}
/* Lanscape tablet */
@media screen and (min-width: 840px) and (max-width: 1023px) {
    .grid {
        width: 100%;
        max-width: 800px;
    }
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    .m-0 {
        display: none;
    }
    .m-1 {
        flex: 0 1 8.333%;
        max-width: 8.333%;
    }
    .m-2 {
        flex: 0 1 16.667%;
        max-width: 16.667%;
    }
    .m-3 {
        flex: 0 1 25%;
        max-width: 25%;
    }
    .m-4 {
        flex: 0 1 33.333%;
        max-width: 33.333%;
    }
    .m-5 {
        flex: 0 1 41.667%;
        max-width: 41.667%;
    }
    .m-6 {
        flex: 0 1 50%;
        max-width: 50%;
    }
    .m-7 {
        flex: 0 1 58.333%;
        max-width: 58.333%;
    }
    .m-8 {
        flex: 0 1 66.667%;
        max-width: 66.667%;
    }
    .m-9 {
        flex: 0 1 75%;
        max-width: 75%;
    }
    .m-10 {
        flex: 0 1 83.333%;
        max-width: 83.333%;
    }
    .m-11 {
        flex: 0 1 91.667%;
        max-width: 91.667%;
    }
    .m-12 {
        flex: 0 1 100%;
        max-width: 100%;
    }
    .m-o-1 {
        margin-left: 8.333%;
    }
    .m-o-2 {
        margin-left: 16.667%;
    }
    .m-o-3 {
        margin-left: 25%;
    }
    .m-o-4 {
        margin-left: 33.333%;
    }
    .m-o-5 {
        margin-left: 41.667%;
    }
    .m-o-6 {
        margin-left: 50%;
    }
    .m-o-7 {
        margin-left: 58.333%;
    }
    .m-o-8 {
        margin-left: 66.667%;
    }
    .m-o-9 {
         margin-left: 75%;
    }
    .m-o-10 {
        margin-left: 83.333%;
    }
    .m-o-11 {
        margin-left: 91.667%;
    }
    .m-1, .m-2, .m-3, .m-4, .m-5, .m-6,
    .m-7, .m-8, .m-9, .m-10, .m-11, .m-12 {
        display: block;
    }
    .header .logo {
        transform: translateX(50%);
    }
    .menu-components-container__items:nth-child(2) {
        display: none;
    }

    /* Category page */
    .new-book-slider-wrapper__slider__slides {
        width: 233% !important;
    }
}
/* PC */
@media screen and (min-width: 1024px) and (max-width: 1239px) {
    .grid {
        width: 100%;
        max-width: 1000px;
    }
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
}