/* Side bar */
.content {
    position: relative;
    height: auto;
}
.side-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(to bottom, var(--black-color), var(--slight-black-color));
    width: 100%;
    max-width: 100%;
    max-height: 340px;
    height: 100%;
    font-size: 1.4rem;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
}
.side-bar .header {
    color: var(--white-color); 
    text-align: center;
    border-radius: 15px;
    background-color: transparent;
    padding: 10px;
    height: auto;
}
.side-bar .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    align-items: flex-start;
}
.side-bar .list .list__items {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 15px 0 0 15px;
}
.list__items .section {
    text-decoration: none;
    color:var(--white-color);
    
}
.side-bar .list .list__items:hover {
    background-color: var(--white-color);
    transition: 0.5s ease;               
}
.side-bar .list .list__items:hover .section {
    color: var(--black-color);   
}
/* Auto slider */
.slider {
    width: 100%;
    position: relative;
    margin-top: 30px;
    height: 340px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
}
.slider .slides {
    width: 300%;
    height: 100%;
    border-radius: 15px;
    display: flex;
}
.slides > input {
    display: none;
}
.slider .slides .slide {
    width: 33.33%;
    border-radius: 15px;
    transition: 1s ease;
}
.slide img {
    width: 100%;
    height: 100%;
}
.slider .manual-navigation {
    width: 100%;
    position: absolute;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-navigation .manual-button {
    border: 2px solid var(--white-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-button:not(:last-child) {
    margin-right: 40px;
}
.manual-button:hover {
    background-color: var(--dark-blue-color);
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -33.33%;
}
#radio3:checked ~ .first {
    margin-left: -66.67%;
}
/* Best seller */
.best-seller {
    margin-top: 30px;
}
.book-selling-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border: none;
    border-radius: 15px;
}
.book-selling-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.description {
    background: linear-gradient(to bottom, var(--black-color), var(--slight-black-color)); 
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 10px;
    border: none;
    border-radius: 15px;
}
.description a {
    text-decoration: none;
    color: var(--white-color);
}
.line {
    height: 1px;
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
    flex: 1;
    margin: 0 10px;
}
.book-selling-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}
.item {
    display: block;
    width: 100%;
    height: 340px;
    background-color: var(--white-color);
    flex-direction: column;
    margin-bottom: 10px;
}
.book-selling-body .book {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.book-selling-body .book img {
    width:  150px;
    height: 200px;
    border-radius: 15px;
}
.book-selling-body .book__description {
    display: block;
    margin-top: 10px;
    height: 20%;
    width: 100%;
}
.book-selling-body .book__title {
    font-size: 1.6rem;
}
.book-selling-body .book__price {
    color: var(--red-color);
    font-size: 1.4rem;
}
.outer-star {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.outer-star::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f005 \f005 \f005 \f005 \f005 ";
    color: var(--grey-white-color);
    font-size: 1.6rem;
}
.inner-star {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
.inner-star::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f005 \f005 \f005 \f005 \f005 ";
    color: var(--orange-color);
    font-size: 1.6rem;
}
/* Highest rate */
.highest-rate {
    margin-top: 30px;
}
.highest-rate .line {
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
}
#button--arrow button {
    border-radius: 50%;
    background-color:  var(--white-color); 
    width: 30px;
    height: 30px;
    color: var(--black-color);
}
.highest-rate-slides {
    width: 400%;
    display: flex;
}
.highest-rate-slides .slide {
    width: 12.5%;
    background-color: var(--black-color);
    border: none;
    padding: 0 15px;
}
.highest-rate-slides .slide img {
    width: 100%;
    height: 100%;
}
.highest-rate .book-selling-body .slider {
    width: 100%;
    position: relative;
    margin-top: 15px;
    height: 340px;
    border: none;
    border-radius: 0;
    overflow: hidden;
}
.highest-rate .book-selling-container {
    background-color: var(--black-color);
}
.highest-rate .description {
    background: none;
    background-color: var(--white-color);
    color: var(--black-color);
}
.highest-rate .description a {
    color: var(--black-color);
}
/* Book of the month */
.book-for-month {
    margin-top: 30px;
}
/* Feature books */
.feature {
    margin-top: 30px;
}
/* Banner 1 */
#banner-1 {
    margin-top: 30px;
}
#banner-1-container {
    width: 100%;
}
#banner-1-header { 
    font-size: 2.0rem;
    position: relative;
    display: inline-block;
}
#banner-1-header::before {
    content: "Upcoming book";
    display: block;
    width: auto;
    /* width: max-content; có thể thay thế white-space */
    position: absolute;
    top: 5px;
    left: -24px;
    font-size: 2.6rem;
    font-weight: 900;
    letter-spacing: 2px;
    white-space: nowrap;
    color: rgb(52, 91, 99, 0.2);
}
#banner-1-body {
    display: flex;
    gap: 0 10px;
}
#banner-1-body #section-1 {
    width: 100%;
}
#section-1 {
    width: 100%;
    padding: 0;
}
#section-1__container {
    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EF5350;
    border: none;
    border-radius: 15px;
    padding: 0;
}
#section-2__container img, #section-3__container img {
    width: 200px;
    height: 250px;
}
#section-1__container img {
    width: 250px;
    height: 300px;
}
.section-description {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 1.4rem;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
}
.title {
    margin-top: 10px;
}
.price {
    margin-top: 10px;
    font-size: 1.6rem;
}
#section-2-and-section-3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 10px 0;
}
#section-2__container {
    display: flex;
    background-color: #EC407A;
    border: none;
    border-radius: 5px;
    border: none;
    border-radius: 15px;
}
#section-2__container img, #section-3__container img {
    margin: 10px;
}
#section-3__container {
    display: flex;
    background-color: #AB47BC;
    border: none;
    border-radius: 5px;
    border: none;
    border-radius: 15px;
}
.button--book {
    padding: 18px 40px;  
    border: none;
    border-radius: 20px;
    font-size: 1.6rem;
    box-shadow: -10px 10px 12px #595959;
    margin-top: 10px;
}
#section-1__container .button--book {
    color: #EF5350;
}
#section-2__container .button--book {
    color: #EC407A;
}
#section-3__container .button--book {
    color: #AB47BC;
}
/* reveal */
.reveal-up {
    transform: translateY(50%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}
.reveal-right {
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}